name: Deploy to S3

on:
  push:
    branches:
      - main

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Configure AWS credentials through OIDC
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::548852143988:role/aws_access
          aws-region: us-east-1  # CHANGE THIS BASED ON YOUR BUCKET REGION
          role-session-name: aws_access

      - name: Verify identity
        run: aws sts get-caller-identity

      - name: Upload to S3
        run: |
          aws s3 sync . s3://myapp-demobucket123 \
            --exclude ".git/*" \
            --exclude ".github/*" \
            --delete \
            --region ap-south-1  # CHANGE THIS TOO
