permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::548852143988:role/GitHubS3DeployRole
          aws-region: us-east-1

      - name: Upload to S3
        run: aws s3 cp ./build s3://abhipowerfullbucket --recursive
